body{
    background: #E5E5E5;
    margin: 0;
    font-family: 'Yeseva One', cursive;
}
span{
    color:#FFAD5A;
}

.stay{
    display: flex;
    
}
.half-width h1{
    font-size: 60px;
    color: #333333;
    line-height: 30px;
    

}

.horizental{
    position: relative;
}
.horizental::before{
    content: '';
    height: 118px;
    width: 4px;
    position: absolute;
    margin-left: -15px;
    /* right: 0;
    top: 0; */
    background-color: #FF5959;
    margin-bottom: 15px;
}

.half-width{
    width: 50%;
    padding-left: 110px;
    margin-top: 140px;
}
.half-width p{
    
    color:#3E3E3E;
    font-family: Poppins;
    padding-bottom: 20px;
    font-size: 18px;

    
    
}
.half-width a{
    background-color:#FF5959;
    color: #FFF;
    text-decoration: none;
    padding: 12px;
    border-radius: 5px; 
    text-align:justify;   
}

.scroll{
    margin-top:45px;
}

.half-width img{
    width: 80%;
    margin-top: -140px;   
}

.mission{
    margin-top: 60px;
}
.mission-head{
    text-align: center;
    font-family: Poppins;
    font-weight: bold;
    font-size: 48px;
}