body{
    background: #E5E5E5;
    margin: 0;
    font-family: 'Yeseva One', cursive;
}
span{
    color:#FFAD5A;
}

.stay{
    display: flex;
    
}
.half-width h1{
    font-size: 60px;
    color: #333333;
    line-height: 30px;
    

}

.horizental{
    position: relative;
}
.horizental::before{
    content: '';
    height: 118px;
    width: 4px;
    position: absolute;
    margin-left: -15px;
    /* right: 0;
    top: 0; */
    background-color: #FF5959;
    margin-bottom: 15px;
}

.half-width{
    width: 50%;
    padding-left: 110px;
    margin-top: 140px;
}
.half-width p{
    
    color:#3E3E3E;
    font-family: Poppins;
    padding-bottom: 20px;
    font-size: 18px;

    
    
}
.half-width a{
    background-color:#FF5959;
    color: #FFF;
    text-decoration: none;
    padding: 12px;
    border-radius: 5px; 
    text-align:justify;   
}

.scroll{
    margin-top:45px;
}

.half-width img{
    width: 80%;
    margin-top: -140px;   
}

.mission{
    margin-top: 60px;
    
}
.mission-head{
    text-align: center;
    font-family: Poppins;
    font-weight: bold;
    font-size: 48px;
}
.mission-part{
    display: flex;
    margin-left: 101px;
    width: 85%;
    margin-bottom: 86px;

    
}
.mission img{
    width: 40%;
}

.mission h4{
    font-family: poppins;
    font-weight: 600;
    font-size: 24px;
    color: #000000;


}
.mission p{
    font-family: poppins;
    font-weight: 400;
    font-size: 16px;
    color: #424242; 
}
.misson-one{
    /* Width : 360px;
    height: 376px; */
    margin-right: 24px;
    padding: 15px;
    background: rgba(79, 157, 166, 0.1);
    border-radius: 26px;
    
}
.mission-two{
    margin-right: 24px;
    padding: 15px; 
    background: rgba(255, 89, 89, 0.1);
    border-radius: 26px;  
}
.mission-there{
    margin-right: 24px;
    padding: 15px; 
    background: #FFF4D6;
    border-radius: 26px;
}
.develop{
    display: flex;
    width: 90%;
    background:url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 20%;
    background-position: 3% 40%;

}
.develop-half img{
    Width :400px;
    Height : 400px;

    
}
.develop-half{
    margin-left:110px;
    width: 50%;
    

}
.develop-half a{
    background-color:#FF5959;
    color: #FFF;
    text-decoration: none;
    padding: 12px;
    border-radius: 5px; 
    text-align:justify; 
    font-family: poppins; 
    
    
}
.develop-half p{
    font-family: poppins;
    font-size: 18px;
    font-weight: 400;
    color: #3E3E3E;
    text-align: justify;
    
}
.develop-half h2{
 font-family:poppins;
 font-weight: 700;
 font-size:36px;
 line-height: 34px;
}
.develop-detail{
    margin-left: -82px;
}
.develop-detail p{
    margin-bottom: 27px;
}
.statistics{
    display: flex;
    margin-top: 100px;
    margin-bottom: 50px;
}

.statistics-width{
width: 100%;
margin-left: 110px;
text-align: center;
margin-right: 83px;

}
#complite{
    width: 90%;
}
.statistics img{
    width: 50%;  
    border-radius: 50px;
    
}
.statistics-width h1{
    font-weight: 700;
    font-size: 27px;
    font-family: poppines;
}
